{% extends "plantillaBase.html" %} 
{% block tituloPestana %}
    {{ 'Modificar producto' }}
{% endblock %}
{% block titulo %} 
    {{ 'Producto a modificar' }} 
{% endblock %} 

{% block contenido %} {% if mensaje %}
<div class="alert alert-success" role="alert">
    {{ mensaje}}
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="row  justify-content-center">
        <div class="col-12 col-md-6">
            <table class="table text-light">
                {{ form.as_table }}
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <input type="submit" class="btn btn-danger" value="Guardar los cambios">
        </div>
    </div>
</form>

{% endblock%}