{% extends "plantillaBase.html" %} {% load static %}
{% block contenido %} 

<script>	
    $(function()
    { // $.post, $.get, $.ajax
        $.getJSON('https://mindicador.cl/api', function(data) {
                var indicadores = data;
                $('.txtDolar').val(indicadores.dolar.valor);	
                
            }).fail(function() {
                console.log('Error al consumir la API!');
        });
        
        
        $('.btnLimpiar').click(function()
        {
            $('.txtValor, .txtPesos, .txtRedondeado').val('');
            $('.txtValor').focus();	
            return false;
        })
        
        $('.btnCambiar').click(function()
        {
            if($('.txtValor').val() == "")
            {
                alert('Debe especificar el valor en CLP');
                $('.txtValor').focus();	
            }
            else
            {
                var total = $('.txtDolar').val();
                var valor = $('.txtValor').val();
                var pesos = valor/total;
                var total_redondeado =pesos.toFixed(2);

                pesos = isNaN(pesos)?'':(pesos.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));						
                $('.txtPesos').val(pesos);

                total_redondeado = isNaN(total_redondeado)?'':("$"+total_redondeado.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));						
                $('.txtRedondeado').val(total_redondeado);	
            }
            return false;
        })			
    })
</script>
<body class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="shadow p-0 mb-4 bg-white rounded">
                    <nav class="navbar navbar-expand-md navbar-light bg-light" >
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="navbar-toggler-icon"></span>
                        </button> <a class="navbar-brand" href="index.html"><img style="height: 40px; " src="fotos/logo.jpeg" ></a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Menú<span class="sr-only">(current)</span></a>
                                </li>
                                <div class="right-divider"></div>
                                <li class="nav-item active">
                                    <a class="nav-link" href="normales.html">Hamburguesas Normales</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="premium.html">Hamburguesas Premium</a>
                                </li>
                                <div class="right-divider"></div>
                                <li class="nav-item active">
                                    <a class="nav-link" href="RegistroProductos.html">Registrar productos</a>
                                </li>
                            </ul>

                            <ul class="navbar-nav ml-md-auto">
                                <li class="nav-item active dropdown ">
                                    <button class="btn btn-warning" data-toggle="dropdown" style="height: 40px; width: 101%;">Convertir Moneda</button>
                                    <ul class="dropdown-menu " >
                                            <form action="hola.html" method="post">

                                                <li>
                                                <div >
                                                    <div class="text-center ">
                                                        Valor Dolar hoy
                                                    </div>
                                                    <div >
                                                        <input type="text" name="txtDolar" class="txtDolar form-control text-center" readonly=readonly>
                                                    </div>
                                                </div>
                                                </li>

                                                <li>
                                                <div >
                                                    <div class="text-center mt-2 mt-md-3">
                                                        Ingrese valor en CLP
                                                    </div>
                                                    <div >
                                                        <input type="text" name="txtValor" class="txtValor form-control text-center">
                                                    </div>
                                                </div>
                                                </li>

                                                <li>
                                                <div>
                                                    <div class="text-center mt-2 mt-md-3">
                                                        Valor en Dolar Redondeado
                                                    </div>
                                                    <div >
                                                        <input type="text" name="txtRedondeado" class="txtRedondeado form-control text-center" readonly=readonly>

                                                    </div>
                                                </div>
                                                </li>
                                                    <button type="submit" name="btnCambiar" class="btnCambiar btn btn-primary mt-2 mt-md-3"  value="Cambiar" style="height: 50px; width: 100%;">Convertir</button>
                                                    <button type="submit" name="btnLimpiar" class="btnLimpiar btn btn-light mt-2 mt-md-1"  value="Limpiar" style="height: 50px; width: 100%;">Limpiar</button>
                                            </form>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="navbar-nav ml-md-auto">
                                
                                    
                                <li class="nav-item active">
                                    <a class="nav-link" href="Registro2.0.html"><span class="sr-only">(current)</span><button type="button" class="btn btn-danger"  style="height: 40px; width: 101%;">Registrarse</button></a>
                                </li>
                                
                                <li class="nav-item active dropdown ">
                                    <button class="btn btn-light" data-toggle="dropdown" style="height: 50px; width: 101%;">Iniciar Sesión</button>
                                    <ul class="dropdown-menu " >
                                        <li>
                                            <label>
                                                Usuario
                                            </label>
                                            <input type="text" class="form-control" />
                                        </li>
                                        <li>
                                            <label >
                                                Contraseña
                                            </label>
                                            <input type="password" class="form-control" />
                                        </li>  
                                            <a class="nav-link" href="indexses.html">
                                                <button type="button" class="btn btn-danger" style="height: 50px; width: 100%;">Entrar</button>
                                            </a>
                                            <li>
                                                <center>
                                                <a href="#">¿Olvido su contraseña?</a>
                                                </center>
                                            </li>
                                        
                                    </ul>
                                </li>
                                
                                <li>
                                    <a class="nav-link dropdown-toggle active"  data-toggle="dropdown"><img src="fotos/carro.jpg" ></a>
                                    <div class="dropdown-menu dropdown-menu-right" >
                                        <div class="media">
                                            <img src="fotos/hamb1c.jpg" class="mr-3">
                                            <div class="media-body">
                                                <button type="button" class="close" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            <h6 class="mt-0">Hamburguesa Premium</h6>
                                            <p>Precio: $3500 <br></p>
                                            </div>
                                        </div>                                        
                                        <div class="dropdown-divider"></div>
                                        <a href="#">
                                        <button type="button" style=" height: 40px; width: 49%;" class="btn btn-success">Pagar</button>                                       
                                        </a>                                       
                                        <a href="#"> <button type="button" style=" height: 40px; width: 49%;" class="btn btn-danger">Cancelar</button></a>
                                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="fotos/vend2.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="invisible">...</div>

        <div class="container">
            <div class="row">
                
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-warning">
                        <img class="card-img-top" src="fotos/hamb2a.jpg" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5>Mario Kart</h5>
                        <p class="card-text">Hamburguesa de pollo con lechuga, tomate, cebolla, palta y 
                            mayonesa. <br> Una hamburguesa para volver rápido a la carrera.

                        </p>
                            <p class="font-weight-bold"><br>$3.000</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="#" class="btn btn-primary">Agregar al carro</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                <div class="card mb-4 box-shadow bg-warning">
                    <img class="card-img-top" src="Fotos/hamb27a.jpg" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <h5>Mario Party</h5>
                    <p class="card-text">2 hamburguesas de vacuno y 1 de pollo, con lechuga, tomate, 
                        pepinillos, cebolla morada y ketchup.<br> Contrario al juego, aqui todos ganan. </p>
                        <p class="font-weight-bold"> $3.000</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            <a href="#" class="btn btn-primary">Agregar al carro</a>
                            </div>
                    </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-warning">
                        <img class="card-img-top" src="fotos/hamb7a.jpg" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5>Rocket League</h5>
                        <p class="card-text">Hamburguesa de cerdo con queso cheddar, lechuga, cebolla morada, 
                            tomate y mayonesa. <br> Una hamburguesa única en su Liga. </p>
                            <p class="font-weight-bold"><br>$3.000</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="#" class="btn btn-primary">Agregar al carro</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-warning">
                        <img class="card-img-top" src="Fotos/hamb22a.jpg" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5>Resident Evil</h5>
                        <p class="card-text">hamburguesa de vacuno con lechuga, cebolla morada, mostaza, 
                            pepinillos y nuestra exquisita salsa HamburGame.<br> Un sabor de miedo!</p>
                            <p class="font-weight-bold">$3.500</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="#" class="btn btn-primary">Agregar al carro</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-warning">
                        <img class="card-img-top" src="Fotos/hamb16a.jpg" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5>Animal Crossing</h5>
                        <p class="card-text">Hamburguesa de quinoa, lechuga, 
                            mayonesa vegana en pan multigrano.<br>Una hamburguesa
                            amigable.</p>
                            <p class="font-weight-bold"><br>$3.000</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="#" class="btn btn-primary">Agregar al carro</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-warning">
                        <img class="card-img-top" src="Fotos/hamb6a.jpg" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5>Monster Hunter</h5>
                        <p class="card-text">Hamburguesa extra grande, base de mayonesa, rúcula,
                            tomate, cebolla , queso, salsa BBQ todo en un crujiente pan.<br>
                            ¿Podras acabar con ella, cazador? </p>
                            <p class="font-weight-bold">$3.000</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="#" class="btn btn-primary">Agregar al carro</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    
</body>
</html>

{% endblock %}