{% extends "plantillaBase.html" %} {% load static %}
{% block contenido %} 

        <div class="row">
            <div class="col-md-12">
                <div data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{% static 'images/vend2.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="invisible">...</div>

        <div class="container">
            <div class="row">
                
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-warning">
                        <img class="card-img-top" src="{% static 'images/hamb2a.jpg' %}" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5>Mario Kart</h5>
                        <p class="card-text">Hamburguesa de pollo con lechuga, tomate, cebolla, palta y 
                            mayonesa. <br> Una hamburguesa para volver rápido a la carrera.

                        </p>
                            <p class="font-weight-bold"><br>$3.000</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="#" class="btn btn-primary">Agregar al carro</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                <div class="card mb-4 box-shadow bg-warning">
                    <img class="card-img-top" src="{% static 'images/hamb27a.jpg' %}" style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <h5>Mario Party</h5>
                    <p class="card-text">2 hamburguesas de vacuno y 1 de pollo, con lechuga, tomate, 
                        pepinillos, cebolla morada y ketchup.<br> Contrario al juego, aqui todos ganan. </p>
                        <p class="font-weight-bold"> $3.000</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            <a href="#" class="btn btn-primary">Agregar al carro</a>
                            </div>
                    </div>
                    </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-warning">
                        <img class="card-img-top" src="{% static 'images/hamb7a.jpg' %}" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5>Rocket League</h5>
                        <p class="card-text">Hamburguesa de cerdo con queso cheddar, lechuga, cebolla morada, 
                            tomate y mayonesa. <br> Una hamburguesa única en su Liga. </p>
                            <p class="font-weight-bold"><br>$3.000</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="#" class="btn btn-primary">Agregar al carro</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-warning">
                        <img class="card-img-top" src="{% static 'images/hamb22a.jpg' %}" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5>Resident Evil</h5>
                        <p class="card-text">hamburguesa de vacuno con lechuga, cebolla morada, mostaza, 
                            pepinillos y nuestra exquisita salsa HamburGame.<br> Un sabor de miedo!</p>
                            <p class="font-weight-bold">$3.500</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="#" class="btn btn-primary">Agregar al carro</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-warning">
                        <img class="card-img-top" src="{% static 'images/hamb16a.jpg' %}" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5>Animal Crossing</h5>
                        <p class="card-text">Hamburguesa de quinoa, lechuga, 
                            mayonesa vegana en pan multigrano.<br>Una hamburguesa
                            amigable.</p>
                            <p class="font-weight-bold"><br>$3.000</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="#" class="btn btn-primary">Agregar al carro</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-warning">
                        <img class="card-img-top" src="Fotos/hamb6a.jpg" style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <h5>Monster Hunter</h5>
                        <p class="card-text">Hamburguesa extra grande, base de mayonesa, rúcula,
                            tomate, cebolla , queso, salsa BBQ todo en un crujiente pan.<br>
                            ¿Podras acabar con ella, cazador? </p>
                            <p class="font-weight-bold">$3.000</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="#" class="btn btn-primary">Agregar al carro</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    
</body>
</html>

{% endblock %}