{% extends "plantillaBase.html" %} 
{% block contenido %} 

<script>
    $(function()
    {
        $('.btnRegistrar').click(function() 
        {
        // validar que el campo no este vacio
        //txtCodigo
        if($('.txtRut').val() == length < 10)
        {
            alert('Debe ingresar el campo RUT');
            $('.txtNombreUsuario').focus();
            return false; 					
        }
        if($('.txtNombreCompleto').val() == "")
        {
            alert('Debe ingresar el campo Nombre Completo');
            $('.txtNombreUsuario').focus();
            return false; 					
        }            
        if($('.txtCorreo').val() == "")
        {
            alert('Debe ingresar el campo Correo');
            $('.txtCorreo').focus();
            return false; 
        }        
        // validación de formato
        let emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.([a-zA-Z]{2,4})+$/
        if(!emailRegex.test($('.txtCorreo').val()))
        {
            alert('El formato del correo es incorrecto');
            $('.txtCorreo').focus();
            return false; 
        }           
       
        if($('.txtContraseña').val() == "")
        {
            alert('Debe ingresar el campo Contraseña');
            $('.txtContraseña').focus();
            return false; 					
        }

        if($('.txtConfContraseña').val() == "")
        {
            alert('Debe ingresar el campo Confirme Contraseña');
            $('.txtConfContraseña').focus();
            return false; 					
        }

        if($('.txtFechaNacim').val() == "")
        {
            alert('Debe ingresar el campo Fecha de Nacimiento');
            $('.txtContraseña').focus();
            return false; 					
        }

        if($('.txtCelular').val() > 56999999999 || $('.txtCelular').val() < 56900000000)
        {
            alert('Valor no permitido para numero de celular');
            $('.txtCelular').focus();
            return false; 
        } 
        if($('#SelecPais').val() == "")
        {
            alert('Debe seleccionar un país');
            $('#SelecPais').focus();
            return false;
        }    
        if($('#MetPago').val() == "")
        {
            alert('Debe seleccionar un método de pago');
            $('#MetPago').focus();
            return false;
        }             

  
        $('.btnLimpiar').click(function()
            {
                $('.txtRut, .txtNombreCompleto, .txtCorreo, .txtContraseña, .txtConfContraseña, .txtFechaNacim, .txtCelular, #SelecPais, #MetPago').val('');
                return false;                                
            })

            


        alert("La información enviada es:  \nRut              : " + $('.txtRut').val()
                                         +"\nNombre Completo  : " + $('.txtNombreCompleto').val()
                                         +"\nCorreo           : " + $('.txtCorreo').val()
                                         +"\nContraseña       : " + $('.txtContraseña').val()
                                         +"\nFecha Nacimiento : " + $('.txtFechaNacim').val()
                                         +"\nNúmero Celular   : " + $('.txtCelular').val()
                                         +"\nPaís             : " + $('#SelecPais').val()
                                         +"\nMétodo de pago   : " + $('#MetPago').val())

        return false;
        })	
    
        //Validación de ingreso de caracteres
        var texto = "qwertyuiopasdfghjklzxcvnbmñQWERTYUIOPASDFGHJKLZXCVBNMÑáéíóúÁÉÍÓÚ,.´'";
        var numeros = '+0123456789-';
        var rut = '0123456789-Kk';

        $('.txtRut').keypress(function(e)
        {
            let caracter = String.fromCharCode(e.which);
            if(rut.indexOf(caracter) < 0)
                return false;
        })

        $('.txtNombreCompleto').keypress(function(e) 
        {
            let caracter = String.fromCharCode(e.which);
            if(texto.indexOf(caracter) < 0)
                return false; 
        })

        $('.txtFechaNacim, .txtCelular').keypress(function(e) 
        {
            let caracter = String.fromCharCode(e.which);
            if(numeros.indexOf(caracter) < 0)
                return false; 
        })
    })		
</script>     
        
<body class="bg-dark">
<div>
    <div class="container">
        <br>
        <h1 class="text-center text-light">Registrate en HamburGame</h1><br>
        <h3 class="text-center text-light">y accede a promociones épicas...</h3><br>
        <form action="hola.html" method="post">
        <section class="form-register">

        <div class="row mt-5">
            <div class="col-12 col-md-2 offset-md-3 text-light">
                Ingrese su Rut
            </div>
            <div class="col-12 col-md-5" >
                <input type="text" name="txtRut" placeholder="12304190-9" minlength="10" maxlength="10" class="txtRut form-control">
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-12 col-md-2 offset-md-3 text-light">
                Ingrese su Nombre Completo 
            </div>
            <div class="col-12 col-md-5">
                <input type="text" name="txtNombreCompleto" placeholder="Juan Perez Rodriguez" class="txtNombreCompleto form-control">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-md-2 offset-md-3 text-light">
                Ingrese su Correo 
            </div>
            <div class="col-12 col-md-5">
                <input type="text" name="txtCorreo" placeholder="juan.pr@gmail.com" minlength="20" class="txtCorreo form-control"> 
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-md-2 offset-md-3 text-light">
                Ingrese su Contraseña
            </div>
            <div class="col-12 col-md-5">
                <input type="password" name="txtContraseña" placeholder="**********" mixlength="4" maxlength="15" class="txtContraseña form-control">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-md-2 offset-md-3 text-light">
                Confirme su Contraseña
            </div>
            <div class="col-12 col-md-5">
                <input type="password" name="txtConfContraseña" placeholder="**********" mixlength="4" maxlength="15" class="txtConfContraseña form-control">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-md-2 offset-md-3 text-light">
                Ingrese su Fecha de Nacimiento
            </div>
            <div class="col-12 col-md-5">
                <input type="text" name="txtFechaNacim" placeholder="00-00-0000" mixlength="10" maxlength="10" class="txtFechaNacim form-control">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-md-2 offset-md-3 text-light">
                Ingrese su Número de Celular
            </div>
            <div class="col-12 col-md-5">
                <input type="text" name="txtCelular" placeholder="+56912345678" mixlength="12" maxlength="12" class="txtCelular form-control">
            </div>
        </div>

        <p></p>
        <div class="row mt-5">
            <div class="col-12 col-md-2 offset-md-3 text-light">
                Indique su País
            </div>
            <div class="col-12 col-md-5">
                <select class="form-control col-12 col-md-12 " name="SelecPais" id="SelecPais" required>
                    <option ></option>   
                    <option value="Chile">Chile</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Estados Unidos">Estados Unidos</option>
                    <option value="Canadá">Canadá</option>
                    <option value="México">México</option>
                    </select>
            </div>
        </div>


        <p></p>
        <div class="row mt-5">
            <div class="col-12 col-md-2 offset-md-3 text-light">
                Elija su método de pago
            </div>
            <div class="col-12 col-md-5">
                <select class="form-control col-12 col-md-12"  name="MetPago" id="MetPago" required>
                    <option></option>   
                    <option value="Visa">Visa</option>
                    <option value="Mastercard">Mastercard</option>
                    <option value="Maestro">Maestro</option>
                    <option value="UnionPay">UnionPay</option>
                    <option value="JCB">JCB</option>
                </select>
            </div>
        </div>
        <p></p>            

        <div class="row mt-5">
            <div class="col-12 col-md-2 offset-md-3 ">
                &nbsp
            </div>
            <div class="col-12 col-md-12 text-center">
                <input type="submit" name="btnRegistrar" class="btnRegistrar btn btn-primary" value="Registrar">
                <input type="submit" name="btnLimpiar" class="btnLimpiar btn btn-light" value="Limpiar">
            </div>                
        </div>

        <div class="row mt-1">
            <div class="col-12 col-md-12 text-center">
                <a href="{% url 'index' %}" class="btn btn-danger">Volver a Inicio</a>
        </div>
    </div>
    <p></p>
    <p><center><a href="# " >¿Tengo una cuenta?</a></center></p>
    </div>
        
        </section>	
        <br><br>

        </form>			
    </div>	                
</div>

</body>
</html>   

{% endblock %}